name: foodloop
description: "FoodLoop - Save Food. Save Money. Save Earth."
publish_to: 'none'
version: 1.0.0

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  flutter_secure_storage: ^10.0.0
  google_fonts: ^6.1.0
  http: ^1.6.0
  provider: ^6.1.5+1
  geolocator: ^13.0.0
  permission_handler: ^11.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/

